/* W3.CSS 4.10 February 2018 by Jan Egil and Borge Refsnes */
html
{box-sizing:border-box}*,*:before}

html,body{font-family:sans-serif;font-size:15px;line-height:1.5}
html{overflow-x:hidden}
h1{font-size:36px}
h2{font-size:30px}
h3{font-size:24px}
h4{font-size:20px}
h5{font-size:18px}
h6{font-size:16px}

h1,h2,h3,h4,h5,h6{font-family:sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:1px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
p,a{font-family: sans-serif}

.w3-image{max-width:100%;height:auto}img{vertical-align:middle}
a{color:inherit;}

/* visited link */

a:hover {
    color:#ffc0cb;
    text-decoration:none;
}
a:active {
    color: blue;
}


#cov {
    display:inline-block;    
    text-decoration:none;
}

.w3-table,.w3-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.w3-table-all{border:1px solid #ccc}
.w3-bordered tr,.w3-table-all tr{border-bottom:1px solid #ddd}.w3-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.w3-table-all tr:nth-child(odd){background-color:#fff}.w3-table-all tr:nth-child(even){background-color:#f1f1f1}
.w3-hoverable tbody tr:hover,.w3-ul.w3-hoverable
li:hover{background-color:#ccc}
.w3-centered tr th,.w3-centered tr td{text-align:center}
.w3-table td,.w3-table th,.w3-table-all td,.w3-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.w3-table th:first-child,.w3-table td:first-child,.w3-table-all th:first-child,.w3-table-all td:first-child{padding-left:16px}
.w3-btn,.w3-button{
    border:none;
    display:inline-block;
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap;
    }
/*.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}*/
/*.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   */
.w3-disabled,.w3-btn:disabled,.w3-button:disabled{cursor:not-allowed;opacity:0.3}.w3-disabled *,:disabled *{pointer-events:none}
/*.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}*/

.w3-tooltip,.w3-display-container{position:relative}.w3-tooltip .w3-text{display:none}.w3-tooltip:hover .w3-text{display:inline-block}

.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-bar-block .w3-dropdown-hover,.w3-bar-block .w3-dropdown-click{width:100%}
.w3-bar-block .w3-dropdown-hover .w3-dropdown-content,.w3-bar-block .w3-dropdown-click .w3-dropdown-content{min-width:100%}
.w3-bar-block .w3-dropdown-hover .w3-button,.w3-bar-block .w3-dropdown-click .w3-button{width:100%;text-align:left;padding:8px 16px}
.w3-main,#main{transition:margin-left .4s}

.w3-bar{
/*    width:100%;*/
    overflow:hidden;
    font-family: sans-serif;}

.w3-center
.w3-bar{display:inline-block;width:auto}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0; color:#aaa}
.w3-bar .w3-dropdown-hover,.w3-bar .w3-dropdown-click{position:static;float:left}
.w3-bar .w3-button{white-space:normal}
.w3-bar-block .w3-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.w3-bar-block.w3-center .w3-bar-item{text-align:center}.w3-block{display:block;width:100%}
.w3-responsive{display:block;overflow-x:auto}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-cell-row:before,.w3-cell-row:after,.w3-clear:after,.w3-clear:before,.w3-bar:before,.w3-bar:after{content:"";display:table;clear:both}
.w3-col,.w3-half,.w3-third,.w3-twothird,.w3-threequarter,.w3-quarter{float:left;width:100%}
.w3-col.s1{width:8.33333%}.w3-col.s2{width:16.66666%}.w3-col.s3{width:24.99999%}.w3-col.s4{width:33.33333%}
.w3-col.s5{width:41.66666%}.w3-col.s6{width:49.99999%}.w3-col.s7{width:58.33333%}.w3-col.s8{width:66.66666%}
.w3-col.s9{width:74.99999%}.w3-col.s10{width:83.33333%}.w3-col.s11{width:91.66666%}.w3-col.s12{width:99.99999%}


.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}

.w3-opacity,.w3-hover-opacity:hover{opacity:0.60}.w3-opacity-off,.w3-hover-opacity-off:hover{opacity:1}

.w3-left-align{text-align:left!important}.w3-right-align{text-align:right!important}.w3-justify{text-align:justify!important}.w3-center{text-align:center!important}
.w3-border-0{border:0!important}.w3-border{border:1px solid #ccc!important}
.w3-border-top{border-top:1px solid #ccc!important}.w3-border-bottom{border-bottom:1px solid #ccc!important}
.w3-border-left{border-left:1px solid #ccc!important}.w3-border-right{border-right:1px solid #ccc!important}

.w3-topbar{border-top:6px solid #ccc!important}.w3-bottombar{border-bottom:6px solid #ccc!important}
.w3-leftbar{border-left:6px solid #ccc!important}.w3-rightbar{border-right:6px solid #ccc!important}

.w3-margin{margin:16px!important}.w3-margin-top{margin-top:16px!important}.w3-margin-bottom{margin-bottom:16px!important}
.w3-margin-left{margin-left:16px!important}.w3-margin-right{margin-right:16px!important}
.w3-padding-small{padding:4px 8px!important}.w3-padding{padding:8px 16px!important}.w3-padding-large{padding:12px 24px!important}

.w3-padding-16{padding-top:16px!important;padding-bottom:16px!important}.w3-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.w3-padding-32{padding-top:32px!important;padding-bottom:32px!important}.w3-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.w3-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.w3-left{float:left!important}
.w3-right{float:right!important}
.w3-button:hover{color:#000!important;}
.w3-transparent,.w3-hover-none:hover{background-color:transparent!important}
.w3-hover-none:hover{box-shadow:none!important}


.w3-top{
    padding-left:0%;
    padding-right:0%;
}

@media only screen and (max-width: 540px) {
    .w3-top{
    padding-left:0%;
    padding-right:0%;
}}
@media only screen and (max-width: 768px) {
    .w3-top{
    padding-left:0%;
    padding-right:0%;
    }
}


p.masthead{
    display: inline-block;
    word-wrap: break-word;
    color: #252525;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 28px;
}
.masthead-text {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left:20px;
  padding-right:20px;}


@media only screen and (max-width: 540px) {
p.masthead{
    font-size: 15px;}
    
}

@media only screen and (max-width: 768px) {
p.masthead {
    font-size: 15px;
}

}




div.gaping {
    padding-left:12%;
    padding-right:12%;
}


.cover-l {
    float: left;
    width: 49.80%;
    padding: 0px .10% .05% 0px;
    overflow: auto;
    overflow-y: hidden;
    
}
.cover-r {
    float: right;
    width: 49.80%;
    padding: 0px 0px .05% .10%;
    overflow: auto;
    overflow-y: hidden;
    
}


.tiles:after {
    content: "";
/*    padding:10px;*/
    display: table;
    /*clear: both;*/
    width:100%;
}

img.front{
    width:100%;
}

.nav-menu{
    font-family: sans-serif;
    float:right!important;
    color:#aaa;
    font-weight: 300;
    
}


@media only screen and (max-width: 768px){    
.nav-menu{
    float:left!important;
    width: 100%;
}

.cover-l {
    width: 100%;
}

.cover-r {
    width: 100%;
}

div.gaping {
    padding-left:5%;
    padding-right:5%;
}

}

@media only screen and (max-width: 540px){
.nav-menu{
    float:left!important;
    width: 100%;
}
.cover-l {
    width: 100%;
}

.cover-r {
    width: 100%;
}

div.gaping {
    padding-left:5%;
    padding-right:5%;
}

}

.hvrbox,
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;
}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
    width:100%;

}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top, .hvrbox:active,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	text-align: center;
	font-size: 30px;
    font-family: sans-serif;
    font-weight: 600;
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}


/*content css starts here */
  
  


img.center{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}


.bulk-content {
  text-align: left;
  /*width: 100%;*/
  padding-left:25%;
  padding-right:25%;
  }
  
.method-container{
    position: inherit;
    padding-top:0px;
    padding-right: 25%;
    float: left;  
}

.summary-bg{
  position:relative;
  border-radius: 10px;
  /*background: linear-gradient(to bottom right, #FFEAEA, #EDF7FD);*/
  padding:15px;
  content: "";
  display: table;
  /*clear: both;*/
  width:98%;
  margin-top:20px;
}
.summary-col{
  position:relative;
  width:33.3%;
  float:left;
  font-family: sans-serif;
  /*padding:3.3%;*/
}
.span-content{
    margin-left:10%;
    margin-right:10%;
    margin-top:10px;
    margin-bottom:10px;
    width:80%;    
}

@media (max-width: 768px) {
.span-content{
    margin-left:0px;
    margin-right:0px;
    margin-top:10px;
    margin-bottom:10px;
    width:98%;
    }
}

@media (max-width: 768px) {
.summary-bg .summary-col{
  /* width:100%;
  padding:2%; */
  float:left;
  padding-left:0%;
  padding-right:0%;}
}

@media (max-width: 540px) {
.summary-bg .summary-col{
  /* width:100%;
  float:left;
  padding:2%; */
  padding-left:0%;
  padding-right:0%
}
}


p.summary-content{
  font-size: 15px;
  font-weight:400;
  padding-top:0px;
  padding-bottom:0px;
  line-height:25px;
  text-align: center;
/*  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;*/
  }
  

h1.title{
  font-size: 40px;
  font-weight:600;
  margin-top:75px;
  margin-bottom:4px;
  text-align: left;
}

h1.endcredits{
  font-size: 40px;
  font-weight:600;
  margin-top:0px;
  margin-bottom:20px;
  text-align: center;
}

p.endcontent{
  font-size: 15px;
  font-weight:600;
  padding-top:0px;
  line-height: 25px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  text-align:center;
    
}
h3.subheader{
  font-size: 26px;
  font-weight:600;
  font-family: sans-serif;
  line-height: 1.14;
  margin-top:110px;
  margin-bottom:10px;
  text-align: left;
  }  

p.intro{
  font-weight:400;
  padding-top:0px;
  font-size: 16px;
  padding-bottom:0px;
  line-height: 25px;
  font-family: sans-serif;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  }  
p.maincontent{
  font-size: 16px;
  font-weight:400;
  padding-top:0px;
  padding-bottom:2px;
  line-height: 25px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;

  }
  
p.maincontentheader{
  font-size: 16px;
  font-weight:600;
  padding-top:19px;
  padding-bottom:5.33px;
  line-height: 1.14; 
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  color: #666666;
  }

p.findingsheader{
  font-size: 15px;
  font-weight:600;
  padding-bottom:5px;
  -webkit-margin-after: 0px;
  -webkit-margin-before: 0px;
  }

  
img.content{
  display: block;
/*  margin-left:auto;
  margin-right:auto; */
  width: 99%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
  padding-top:10px;
  padding-bottom:10px;}
  
  
img.dd{
  display: block;
  margin-left:auto;
  margin-right:auto; 
  width: 100%;
  height: auto;
  object-fit: contain;
  overflow: hidden;
  padding-top:20px;
  padding-bottom:20px;}
  


img.icon{
  display: block;
  margin-left:auto;
  margin-right:auto; 
  width: 10%;
  height: auto;
  object-fit: contain;
  padding-bottom: 10px;
  overflow: hidden;}  

p.img-cap{
  font-size: 12px;
  font-weight:200;
  font-style: oblique;
  text-align: center;
  padding-top:0px;
  padding-bottom:30px;
}

.img-cap-top{
  font-size: 15px;
  font-weight:400;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  /*padding-top:15px;*/
/*  padding-bottom: -215px;*/
}



.findings-bg{
  border-radius: 10px;
  /*background: #EDF7FD;*/
  padding:25px;
  content: "";
  clear: both;
  margin-bottom:50px;
}

.research-bg{
  border-radius: 10px;
  /*background: #EDF7FD;*/
  /*padding:25px;*/
  content: "";
  clear: both;
  margin-bottom:50px;
  display: table;
  margin-top:10px;
}



div.findings-col{
    width: 100%;
    display: inline-block;
    text-align:left;
    list-style-type:none;
}

ul.findings-col li,
div.findings-col div{

    width:30%;
    display:inline-block;
    margin-right:2%;
    text-align:left;
}

div.three-col{
    width: 100%;
    display: inline-block;
    text-align:left;
    list-style-type:none;
}

ul.three-col li,
div.three-col div{
    width:31%;
    display:inline-block;
    margin-right:1%;
    text-align:left;
    padding-bottom:30px;
    padding-top:20px;
}
img.three-col {
    
    width:100%;
}

h1.findings-metric{
    position:relative;
    font-size: 50px;
    font-weight: 600;
    padding-right: 10px;
    color:#7C7C7C;
    
}
p.findings-desc{
    font-size: 15px;
    float:left;
    -webkit-margin-before: 0em;
    color:#7C7C7C;
    line-height:1.4;
        
}

p.findings{
  font-size:15px;
  font-weight:400;
  text-align: left;
  padding:auto;
  margin: auto;
  line-height: 25px;
  
}

p.findings-quotes{
  font-size:15px;
  font-weight:500;
  font-style:oblique;
  text-align: center;
  padding:auto;
  margin: auto;
  line-height: 25px;

  
}

@media (max-width: 768px) {
.bulk-container {
  padding-left:0%;
  padding-right:0%;
}

.headline{
  padding-left:0%;
  padding-right:0%;
}
.bulk-content {
  text-align: left;
  width: 100%;}
  
.method-container{
  padding-top:0px;
  margin-left: 0px;
  margin-right: 0px;
}

img.content{
  width: 100%;
}

h1.title{
  margin-top:30px;
}


ul.findings-col li,
div.findings-col div{
    width:45%;
}

}

@media (max-width: 540px) {
.bulk-container {
  width: 100%;}
.headline  {
  width: 100%;}
.bulk-content {
  padding-left: 0%;
  padding-right: 0%;
  text-align: left;
  width: 100%;}
.method-container{
  padding-top:0px;
  margin-left: 0px;
  margin-right: 0px;
}

ul.findings-col li,
div.findings-col div{

    width:100%;
    margin-right:10%;

}
}

@media (max-width: 540px) {
    .w3-bar{width:75%;}
}
@media (max-width: 768px) {
    .w3-bar{width:75%;}
}

img.content{
  width: 99%;
  }
  
h1.title{
  margin-top:30px;
}
}



div.two-col-l{
    width: 100%;
    display: inline-block;
    text-align:left;
    list-style-type:none;
}

ul.two-col-l li,
div.two-col-l div{
    width:49%;
    display:inline-block;
    margin-right:1%;
    float:left;
    padding-bottom:40px;
}

/*.two-col-l{
  width:47%;
  float:left;
  height:auto;
  margin-bottom: 30px;
  padding-right:10px;

}*/
.two-col-r{
  width:47%;
  float:right;
  height:auto;
  margin-bottom: 30px;
  padding-left:10px;
}



img.content-col{
  float:left;
  width:99%;
  padding-bottom:10px;
  
}

@media (max-width: 540px) {
 .two-col-l{
  width:45%;
  float:left;
  height:auto;

}
.two-col-r{
  width:45%;
  float:right;
  height:auto;
}
}

@media (max-width: 768px) {
.two-col-l{
  width:100%;
  float:left;
  height:auto;

}
.two-col-r{
  width:100%;
  float:right;
  height:auto;
}
  
}



div.headline{
  height: 400px;
  position: relative;
  text-align: center;
  color: black;
}
  

.herocentered {
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  padding-bottom: 25px;
  font-weight:400;
  padding-top:0px;
  font-size: 16px;
  padding-bottom:0px;
  line-height: 25px;
  font-family: sans-serif;
  opacity: .75;
}

img.center{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}

#light-blue-solid{
  background:#EDF7FD;
}


.about-l{
    float:left;
    width:30%;
    padding-top:75px;
    padding-left:5%;
    padding-right:5%;
}

.about-r{
    float:right;
    width:35%;
    padding-top: 75px;
    padding-right:25%;
}

@media (max-width: 540px) {
.about-l{
    width:90%;
    float:left;
    padding-top:10px;
    
    
    }

.about-r{
    float:left;
    width:90%;
    padding-top: 10px;
    
}

}

@media (max-width: 768px) {
.about-l{
    width:80%;
    float:left;
    padding:8px 16px!important;

    }

.about-r{
    float:right;
    width:80%;
    float:left;
    padding:8px 16px!important;
}
}

#resume{
/*    padding-right: 50px;*/
    
}

footer{
    padding-top:30px;
    padding-bottom:30px;
    padding-left:5%;
    padding-right:5%;
    font-size:12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    margin-left: auto;
    margin-right: auto;
    width:90%;
    
}

img.footer{
    height:12px;
    padding-left:5px;
}

.methods{
    width:100%;
    
}


@media (max-width: 540px) {
    .methods{
        display: none;
        }
    }
    
.proto{
    width:375px;
    height:667px;
    margin:0 auto;
    display:block;    
    object-fit: contain;
    overflow: hidden;
}

@media (max-width: 540px) {
    .proto{
        width:300px;
        height:533.6px;
        margin:0 auto;
        display:block;    
        object-fit: contain;
        overflow: hidden;
    }
    }
    
@media (max-width: 320px) {
    .proto{
        width:270px;
        height:480.24px;
        margin:0 auto;
        display:block;    
        object-fit: contain;
        overflow: hidden;
    }
    }
    
li.bullets{
    padding-bottom: 15px;
}
.protourl{
    color: green;
}

ul.regbullets{
    -webkit-padding-start: 20px;
    font-family: sans-serif;
    line-height: 1.4;
    font-size: 16px;
}
li.regbullets{
    padding-bottom: 15px;
}


ul.counts {
    list-style-position: outside;
    display: block;
    list-style-type: decimal;

    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 20px;
}
li.counts {
/*    display: block;*/
    padding-bottom: 15px;
    font-family: sans-serif;
    font-size:16px;
    line-height: 1.4;


}


a.hp {
    text-decoration: none; 
    position: relative; 
}
 
 a.hp:after {
     position: absolute;
     height: 25px;
     margin: 0 auto;
     content: '';
     left: 0;
     right: 0;
     width: 100%;
     background-color: #72FF95;
     left: 0;
     bottom: -11px; /* adjust this to move up and down. you may have to adjust the line height of the paragraph if you move it down a lot. */
     opacity: .30;
     display: block;
 }

 a.hp:hover {
    color:#23079f;
    text-decoration:underline;

  }
a.toc {
    color:#c3c3c3;
    font-size:14px;
  }
a.toc:hover {
    color:#ffc0cb;
    text-decoration:none;
  }


@media only screen and (max-width: 540px) {
    
    a.hp:after {
        opacity: .0;

    }}