@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");


a:link {
    color: #318175;
    text-decoration: none;
    padding:5px;
}

a:visited {
    color: #318175;
}
a:hover {
    color: #9d9d9f;
}

a:active {
    color: #9d9d9f;
}


html, header {
    font-size:16px;
    font-weight: 300;
    color: #318175;
    letter-spacing: 0.4px;
    margin: 20px;
    padding-bottom: 50px;
}

.header info {
    float: right;
}

html, body {
    font-family: 'Open Sans', sans-serif; }


.column1 {
}

.column1 img {
    width: 80%;
    padding-top:15px;
    padding-left:5%;
    padding-right:5%;
}

.column2 {

}

.column2 h2 {
    padding-left:5%;
    padding-right:5%;
    text-transform: uppercase;
    font-size: 16px;
    color: #318175;
  
}



.column2 img{
    padding-top:5px;
    width:5%;
    }

.column2 p {
    padding-left:5%;
    padding-right:5%;
    font-size: 16px;
    font-weight: 300;
    color: #000000;  
}


