@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");


a:link {
    color: #318175;
    text-decoration: none;
    padding:5px;
}

a:visited {
    color: #318175;
}
a:hover {
    color: #9d9d9f;
}

a:active {
    color: #9d9d9f;
}


html, header {
    font-size:16px;
    font-weight: 300;
    color: #318175;
    letter-spacing: 0.4px;
    margin: 20px;
    padding-bottom: 50px;
}

.header info {
    float: right;
}

html, body {
    font-family: 'Open Sans', sans-serif; }


.column2 {
    width:70%;
    margin: 0% auto;
}


.column2 img {
    width: 60%;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:0px;
    margin: 0 auto;
    display: block;

}

.column2 h1 {
    font-size: 24px;
    font-weight: 600;
    color: #333333;
    text-transform: capitalize;
    padding-left:5%;
    padding-right:5%;
    padding-bottom:0px;
}

.column2 h3 {
    text-transform: capitalize;
    font-size: 16px;
    color: #000000;
    padding-left:5%;
    padding-right:5%;
    padding-top:5px;
    padding-bottom:10px;
    line-height:.025;
    margin: 0

}
.column2 h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #318175;
    padding-left:5%;
    padding-right:5%;
    padding-top:20px;
    margin-bottom:0
}

.column2 p {
    padding-left:5%;
    padding-right:5%;
    font-size: 16px;
    font-weight: 300;
    color: #000000;
    margin-top:0
}
p.center{
    font-weight: bold;
    font-size: 12px;
    font-style: italic;
    padding-bottom: 10px;
    text-align: center;
    color: #000000;
}

.column2 d {
    padding-left:5%;
    padding-right:5%;
    font-size: 12px;
    font-weight: 300;
    color: #000000;
    line-height: .01;
    font-style: italic;
    text-align: center;

}

