
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");

html,
body,
div,
span,
iframe,
blockquote,
pre,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video,
cta {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 1px; }

.content article cta {
  color: #2196f3; }
  .content article cta::after {
    content: "\f178";
    font: normal normal normal 14px/1 FontAwesome; }
  .content article cta a {
    transition: ease-in-out 0.25s;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
    letter-spacing: 0.4px;
    text-transform: uppercase; }
  .content article cta a:hover {
    margin-right: 10px;
    transition: ease-in-out 0.25s; }

.content h2 {
  font-size: 24px;
  font-weight: 600;
  color: #333333;
  text-transform: capitalize;
  padding-top:5px;}
  .content small {
    color: #318175;
    font-size: 16px;
    font-weight: inherit;
    text-transform: uppercase;  }
.content h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #333333;
  text-transform: capitalize;
  padding-bottom: 10px;
  line-height: 1.4;}

.content p {
  font-family: 'Open Sans', sans-serif;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 80%;
  line-height: 1.4; }
  .content p img{
    width:100%; }
    
.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-image: url("../images/postit.jpg");
  margin-top: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0px;
  display: none; }

.content {
    margin: 0%;
  }
  .content article {
    margin: 50px 0px 25px 0px; }
    
    
.nav{
  font-family: 'Open Sans',sans-serif;
  font-size:20px;
  font-weight: 600;
  padding-top: 20px;
  padding-bottom: 60px;
  }

.nav left {
    color:#318175;
    float:left;
  }
  
.nav right {
    color:#318175;
    float:right;
  }
  .nav current {
    color: #9d9d9f;
  }

.hvrbox,
.hvrbox * {
  box-sizing: border-box;
}
.hvrbox {
  position: relative;
  display: inline-block;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.hvrbox img {
  width:80%;
  max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
  display: block;
}
.hvrbox .hvrbox-layer_top {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 80%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
  opacity: 1;
}
.hvrbox .hvrbox-text {
  text-align: center;
  font-size: 18px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.hvrbox .hvrbox-text_mobile {
  font-size: 15px;
  border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
  border-top: 1px solid rgba(179, 179, 179, 0.7);
  margin-top: 5px;
  padding-top: 2px;
  display: none;
}
.hvrbox.active .hvrbox-text_mobile {
  display: block;
}

a:link#case {
  padding:0px;
}

a:link {
    color: #318175;
    text-decoration: none;
    padding:5px;
}

a:visited {
    color: #318175;
}
a:hover {
    color: #9d9d9f;
}

a:active {
    color: #9d9d9f;
}

header {
    font-size:16px;
    font-weight: 300;
    color: #318175;
    letter-spacing: 0.4px;
    margin: 20px;
    padding-bottom: 50px;
}

.header info {
    float: right;
}

@media only screen and (min-width: 56.25em) {
  .sidebar {
    display: block; }
  .content {
    margin-left: 39.0833333333%;
    padding: 5% 0% 5% 10%; }
    .content article {
      margin: 0px 0px 0px 0px; } }


@media only screen and (min-width: 68.75em) {
  .sidebar {
    display: block; }
  .content {
    margin-left: 39.0833333333%;
    padding: 5% 0% 5% 10%; }
    .content article {
      margin: 0px 0px 50px 0px; } }
